@use 'base';

.carat-icon {
	color: hsl(0, 1%, 60%);
	z-index: 30;
}

.carat-icon:hover {
	cursor: pointer;
}

.dropdown-post {
	position: absolute;
    right: 1.5em;
}

.dropdown-comment {
	position: absolute;
	right: 17.4em;
}

.dropdown-reply {
	position: absolute;
	right: 13.7em;
}

#dropdown-carat {
	display: none;
    @extend %box-shadow;
    padding: 0;
    z-index: 3;
    color: hsl(0, 1%, 40%)
}

#dropdown-carat:first-child {
	margin-bottom: 0.4em;
}

#dropdown-carat {
	div:hover {
		background-color: hsl(0, 1%, 95%);
		cursor: pointer;
	}
	div {
		padding: .4em .9em;
	}
}

.transparent-screen {
	position:fixed;
	z-index:2; 
	left:0;
	top:0;
	width:100%;
	height:100%; 
	background-color: transparent;
	cursor:auto;
}