@use 'base';

.post-form-header {
	display: flex;
}

.pic-flex {
	align-self: flex-start;
}

.pic-flex img {
	height: 2.4em;
    border-radius: 50%;
}

.post-form-container {
	display: flex;
	margin-bottom: 2em;
	@extend %box-shadow;		
}

.text-flex {
	margin-left: 0.4em;
    background-color: base.$light-grey;
    border-radius: 6px;
    padding: 0.5em;
    width: 100%;
    font-weight: 700;
    color: hsl(0, 1%, 60%);
}

.text-flex:hover {
	cursor: pointer;
}

textarea {
	border: none;
	outline: none;
	width: 100%;
	resize: none;
	box-sizing: border-box;
	max-height: 20em;
	margin-top: 0.6em;
}


.post-form-modal-header {
	text-align: center;
    font-weight: 700;
    font-size: 1.3em;
    display: inline;
}

.modal-open[style] {
	padding-right: 0px !important;
}

